:root{
    --gray:#212121;
    --green: #009660;
    --white:#e9e9e9;
    --black:#0c0c0c;
    --lgray : #929292;
}

@font-face {
    font-family: hell;
    src: url(./HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM.woff2);
}
@font-face {
    font-family: hellb;
    src: url(./HelveticaNowDisplay-Bold_VMHV5twUMR.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color : var(--white)
}

html , body{
    height: 100%;
    width: 100%;
}

body{
    background-color: var(--black);
}

.green{
    color: var(--green);
}
.lgray{
    color : var(--lgray)
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 70px;
    position: fixed;
    width: 100%;
}

.nav1 {
    display: flex;
    align-items: center;
    gap : 18px;
    width: 300px;
}

.nav1 img{
    height: 50px;
}

.nav1 h4{
    font-family: monospace;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.1;

}

.nav2{
    display: flex;
    gap : 50px;
    align-items: center;

}
.nav2    h4{
    font-family: monospace;
    font-size: 18px;
    font-weight: 100;
}


.nav2 img{
    height: 28px;
    border-radius: 50%;
    width: 28px;
}
.nav3{
    display: none;
    gap : 30px;
    align-items: center;

}
.nav3 h4{
    font-family: monospace;
    font-size: 18px;
    font-weight: 100;
}


.nav3 img{
    height: 28px;
    border-radius: 50%;
    width: 28px;
}

@media (max-width:600px){
    nav{
        padding: 10px 25px;
    }
    .nav img {
        height: 30px;
    }
    .nav1 h4{
        font-size: 16px;
    }
    .nav2{
        display: none;
    }
    .nav3{
        display: flex;
    }
}
main{
    padding-top: 100px;
}
.section1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px 70px;
    font-family: hell;
}

.section1 .left{
    width: 42% ;
}
.section1 .left h1{
    font-size: 48px;
}


.section1 .left .tags{
    display: flex;
    align-items: center;
    gap: 5px 5px;
    margin: 30px 0px;
    flex-wrap: wrap;
}
.left .price{
    font-size: 35px;

}
.left .price .lgray{
    font-size: 23px;
    font-weight: 400;
}
.section1 .left .tags h4{
    padding: 10px 20px;
    border-radius: 4px;
    background-color: var(--gray);
    white-space:nowrap;
}
.section1 .left .cta{
    display: flex;
    align-items: center;
    gap: 10px;

}

.cta button{
    background-color: var(--green);
    padding: 20px 60px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}

.cta button:nth-child(2){
    background-color: var(--gray);

}

.section1 .left .tags h4 .lgray{
    font-size: 15px;

}

.section1 .right .right-in{
    width: 600px;
    border-radius: 5px;
}

.section1 .right .right-in .image{
    width: 100%;
    height: 350px;
}
.section1 .right .right-in .image img{
    width: 100%;
}
.section1 .right .right-in .image-bottom{
    padding: 20px;
    padding-top: 40px;
    background-color: var(--gray);
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.right-in .image-bottom h4{
    background-color: #151515;
    padding: 10px 10px;
    font-weight: 400;
    font-size: 15px;
    border-radius: 5px;

    width: 45%;
}

@media (max-width:1200px) {
    .section1 .left h1{
        font-size:3.5vw;
    }
}

@media (max-width:800px) {
    main{
        padding-top : 70px;

    }
    .section1 {
        flex-direction: column-reverse;
        padding: 15px 5vw;
    }
    .section1 .left{
        width: 100%;
        margin-top: 30px;
    }

    .section1 .left h1{
        font-size:32px;
    }
    .section1 .right .right-in{
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
    }
    .section1 .right .right-in .image{
        width: 100%;
        height: 50vw;
    }
    .section1 .right .right-in .image-bottom{
    padding: 10px;
    padding-top: 20px;
    gap: 8px;
    }
    .right-in .image-bottom h4{
        padding: 6px 12px;
        border-radius: 5px;
        font-size: 3vw;
        width: 45%;
    }
    .left .price{
    font-size: 5vw;

}
.left .price .lgray{
    font-size: 3vw;
    font-weight: 400;
}
.section1 .left .tags h4{
    padding: 10px 20px;
    border-radius: 4px;
    background-color: var(--gray);
    white-space:nowrap;
}
.section1 .left .cta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 20px 0px;

}

.cta button{
    background-color: var(--green);
    padding: 15px ;
    border-radius: 5px;
    border: none;
    width: 50%;
    font-size: 20px;
}

}

.section2{
    padding: 120px 0px;
    font-family: hellb;
    font-size: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section2 h1{
    font-family: hellb;
    font-size: 150px;
    font-weight: 800;
    background-image: url(https://ik.imagekit.io/sheryians/Aptitude%20&%20Reasoning/mask%20Large_ZB4lGN8hWZ.png);
    background-size: cover;
    background-clip: text;
    color : transparent;
    position: relative;
}

.section2 h1.bloom{
    position: absolute;
    filter: blur(80px);
}
.section2 h3{
    font-size: 43px;
    font-family: hell;
    text-transform: capitalize;
    letter-spacing: -1px;
}

@media (max-width : 900px) {
    .section2 h1{
    font-family: hellb;
    font-size: 17vw;
}
    .section2 h3{
        text-align: center;
        font-size: 6vw;
    }
}