:root{
    --gray:#212121;
    --green: #009660;
    --white:#e9e9e9;
    --black:#0c0c0c;
    --lgray : #929292;
}

@font-face {
    font-family: hell;
    src: url(./HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color : var(--white)
}

html , body{
    height: 100%;
    width: 100%;
}

body{
    background-color: var(--black);
}

.green{
    color: var(--green);
}
.lgray{
    color : var(--lgray)
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 70px;
    position: fixed;
    width: 100%;
}

.nav1 {
    display: flex;
    align-items: center;
    gap : 18px;
    width: 300px;
}

.nav1 img{
    height: 50px;
}

.nav1 h4{
    font-family: monospace;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.1;

}

.nav2{
    display: flex;
    gap : 50px;
    align-items: center;

}
.nav2    h4{
    font-family: monospace;
    font-size: 18px;
    font-weight: 100;
}


.nav2 img{
    height: 28px;
    border-radius: 50%;
    width: 28px;
}
.nav3{
    display: none;
    gap : 30px;
    align-items: center;

}
.nav3 h4{
    font-family: monospace;
    font-size: 18px;
    font-weight: 100;
}


.nav3 img{
    height: 28px;
    border-radius: 50%;
    width: 28px;
}

@media (max-width:600px){
    nav{
        padding: 10px 25px;
    }
    .nav img {
        height: 30px;
    }
    .nav1 h4{
        font-size: 16px;
    }
    .nav2{
        display: none;
    }
    .nav3{
        display: flex;
    }
}
main{
    padding-top: 100px;
}
.section1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px 70px;
    font-family: hell;
}

.section1 .left{
    width: 42% ;
}
.section1 .left h1{
    font-size: 48px;
}

.section1 .left .tags{
    display: flex;
    align-items: center;
    gap: 5px 5px;
    margin: 30px 0px;
    flex-wrap: wrap;
}
.left .price{
    font-size: 35px;

}
.left .price .lgray{
    font-size: 23px;
    font-weight: 400;
}
.section1 .left .tags h4{
    padding: 10px 20px;
    border-radius: 4px;
    background-color: var(--gray);
    white-space:nowrap;
}

.section1 .left .tags h4 .lgray{
    font-size: 15px;

}
.section1 .right{
    background-color: red;
    width: 45%;
}